<h2>Quiz</h2>
<form *ngIf="!isQuizDefined" [formGroup]="roundsForm">
  <div>
    <span
      >Selecciona el número de rondas y número de preguntas (total
      {{ quiz.length }}) por ronda:</span
    >
    <br />
    <br />
    <div>
      <label>Rondas:</label><input type="text" formControlName="rounds" />
    </div>
    <div>
      <label>Nº. preguntas:</label
      ><input type="text" formControlName="questionsPerRound" />
    </div>
    <button (click)="submitForm()">Start New Round</button>
  </div>
</form>
<h2>
  Ronda {{ currentRound + 1 }} / {{ roundsForm.controls['rounds'].value }} -
  Pregunta {{ roundResults[currentRound]?.length ?? 0 }}/
  {{ roundsForm.controls['questionsPerRound'].value }}
</h2>
<div *ngIf="currentQuestion">
  <h3>{{ currentQuestion.text }}</h3>
  <ul>
    <li *ngFor="let selection of currentQuestion.selections">
      <label>
        <input type="radio" name="selection" [value]="selection.id" />
        {{ selection.text }}
      </label>
    </li>
  </ul>
  <button (click)="submitAnswer()">Submit</button>
</div>

<div *ngIf="currentRound && !currentQuestion">
  <h3>Round {{ currentRound }} Results</h3>
  <p>Correct: {{ numCorrect }}</p>
  <p>Incorrect: {{ numIncorrect }}</p>
  <button (click)="startNewRound()">Start New Round</button>
</div>
