<form *ngIf="!isQuizDefined" [formGroup]="roundsForm">
  <div>
    <span
      >Selecciona el número de rondas y número de preguntas (total
      {{ quiz.length }}) por ronda:</span
    >
    <br />
    <br />
    <div>
      <label>Rondas:</label><input type="text" formControlName="rounds" />
    </div>
    <div>
      <label>Nº. preguntas:</label
      ><input type="text" formControlName="questionsPerRound" />
    </div>
    <button (click)="submitForm()">Start</button>
  </div>
</form>
<div *ngIf="isQuizDefined">
  <h2>
    Ronda {{ currentRound + 1 }} de {{ roundsForm.controls['rounds'].value }} -
    Pregunta {{ currentQuestionIndex }} de
    {{ roundsForm.controls['questionsPerRound'].value }}
  </h2>
  <div *ngIf="currentQuestion">
    <h3>{{ currentQuestion.id }}. {{ currentQuestion.text }}</h3>
    <ul class="no-list">
      <li *ngFor="let selection of currentQuestion.selections">
        <label>
          <input
            type="radio"
            name="selection"
            [value]="selection.id"
            #selectionInput
          />
          {{ selection.text }}
        </label>
      </li>
    </ul>
    <button *ngIf="currentQuestionIndex > 1" (click)="move(false)">
      Atrás
    </button>
    <button
      *ngIf="
        currentQuestionIndex < roundsForm.controls['questionsPerRound'].value
      "
      (click)="move(true)"
    >
      Siguiente
    </button>
  </div>

  <div *ngIf="currentRound">
    <h3>Resultados - Ronda {{ currentRound }}</h3>
    <p>Correctas: {{ numCorrect }}</p>
    <p>Incorrectas: {{ numIncorrect }}</p>
    <button (click)="startNewRound()">Siguiente ronda</button>
  </div>
</div>
<br />
<br />
<br />

{{ foo_text }}
<br />
<br />
<br />
{{ currentRound }}
{{ roundResults | json }}
